@model DbModel.ViewModel.GroupCourse.AddGroupCourseViewModel
@{
    ViewBag.Title = "Create";
}

<script src="~/Content/js/jquery-1.10.2.js"></script>


<ul class="breadcrumb">
    <li><a href="#">Home</a><span class="divider">&raquo;</span></li>
    <li><a href="#">GroupCourse</a><span class="divider">&raquo;</span></li>
    <li class="active">Create New GroupCourse</li>
</ul>
<div class="row-fluid">
    <div class="span ">
        <div class="nonboxy-widget">
            <div class="widget-head">
                <h5>Create New GroupCourse</h5>
            </div>
            <div class="widget-content">
                <div class="widget-box">
                    @using (Html.BeginForm("Create", "GroupCourse", FormMethod.Post, new { @class = "form-horizontal well ucase" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })

                        <fieldset>
                            <legend>GroupCourse Information</legend>
                            <div class="control-group">
                                <label class="control-label">Choose Cource</label>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.Course_Id, ViewBag.AllCources as IEnumerable<SelectListItem>,
                                        ".....................", new { @class = "selectpicker" })
                                    @Html.ValidationMessageFor(model => model.Course_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-info">Save changes</button>
                            <button class="btn btn-warning">Cancel</button>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jqueryval")